{% extends "base.html" %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% block title %}Upload Employees{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h5>Upload external file</h5>
        <ul>
            <li>The CSV file to upload employees must have a header row with the columns
                <ul>
                    <li>name</li>
                    <li>address</li>
                    <li>ssn</li>
                    <li>dob</li>
                    <li>title</li>
                    <li>started</li>
                </ul>
            </li>

            <li>Do Not include ID in the CSV file</li>
            <li>Values for Date type fields must be provided in the format:
                <i>YYYY-MM-DD</i>. <em style="font-style: normal;color:blue;">Example: 2024-11-01</em>
            </li>
        </ul>
        <hr/>
        <form method="POST">
            <div class="form-group">
                <h5>Load Data</h5>
                <input style="width:600px;background-color: aliceblue;" class="form-floating " type=file name=file>
                <label type="submit" class="btn  btn-outline-primary">Upload</label>
            </div>
        </form>
        <hr/>
        <h6>Schema for HR Database</h6>
        <figure style="margin:30px">
            <img src="{{ url_for('static',filename='schema.png' ) }}" alt="schema">
        </figure>
    </div>
{% endblock %}
